@font-face {
    font-family: "Nunito";
    src: url(/resources/fonts/Nunito/Nunito-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito";
}

a {
    cursor: pointer;
}

li {
    list-style: none;
}

#header {
    font-weight: bold;
    color: white;
}

#header .header-primario ul {
    background-color: #1E73BE;
}

#header .header-primario ul li a {
    font-size: 0.9rem;
}

#header ul {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.6rem;
}

#header .header-secundario {
    background-color: black;
    padding: 1rem;
    /* border: red 0.1rem solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .header-secundario .logo {
    font-size: 1.3rem;
}